<div class="jumbotron">
  <h1>Welcome to Joinus!</h1>
  <br \>
  <p>This is a web site which you can find football teams wish to play with you.</p>
  <%= button_to  events_path, :method => :get, :class => "btn btn-primary" do %>
  <i class="icon-heart icon-white" style="margin-top: 1px;"></i> Let's Join!
  <% end %>
</div>
<br>



